{% extends "base.html" %}


{% block content %}

  <div class="about-content">

    <h1>Why Review Backpacking Food?</h1>

    <br>

    <p>
      If you have ever been hungry, chances are you have eaten some palatably questionable things in order to calm the hanger and therefore preserve your friendships.
    </p>

    <p>
      A couple summers ago, I was out on a solo backpacking adventure. I had just boiled some water, and was waiting patiently for my dehydrated food to absorb what moisture it could. The evening’s entree is what some brand claimed to be “Jamaican Jerk Chicken” (spoiler, it was a far cry from it).
    </p>

    <p>
      It was two servings, 800 plus calories, and could be described flavorwise as a salt lick covered in chicken broth. But I ate it. Happily. Even so, there was a twinge in the back of my mind saying “You'd complain about this meal anywhere else”. I scooped another spoonful, overlooking the river I had set up camp beside. With a full belly, I cleaned my dish thinking “god damn that needed hot sauce”. Point here is that I ate the entire thing, and I wasn’t mad about it.
    </p>

    <p>
      I needed to acknowledge a tacit, but universal truth, food will always taste better when you are hungry and in the wilderness. Indisputablely. Backpacking meals just simply cannot be measured on the same criteria as other dishes. There is some wilderness magic that will make it taste 1000 times better and truly, hunger is the best spice. Small caveat here, is that not all backpacking food was created equally.
    </p>

    <p>
      From there, I was determined to try all varieties of dehydrated backpacking food and see how they measured up against one another. If it was salmon alfredo I would eat it, astronaut ice cream would be a fun treat, the huevos rancheros I had avoided would finally be sampled on one of my journeys. I was going to try all the dehydrated food no matter how odd, unappealing, or out of my comfort zone they were. Culinary experiences don't have to be boring if you are on a trail.
    </p>

    <p>
      I am excited to share my findings with you, and am curious to hear your thoughts. If you have recommendations on how I could improve this process, or if you have questions for me, please feel free to drop me a line in your avenue of preference.
    </p>

    <p>
      Happy Hiking!
    </p>

  </div>

{% endblock %}
