{% extends "base.html" %}


{% block content %}

  <div class="article-content">

    <h1>Origins of this Blog</h1>

    <br>

    <p>
      If you have ever been hungry, chances are you have eaten some questionable things in order to calm the hanger and therefore preserve your friendships.
    </p>

    <p>
      A couple summers ago, I was out on a solo backpacking adventure. I had just boiled some water, and was waiting patiently for my dehydrated food to absorb what moisture it could. The evening’s entree is what some brand claimed to be “Jamaican Jerk Chicken”.
    </p>

    <p>
      It was two servings of food, 800 plus calories, and could be described flavorwise as a salt lick covered in chicken broth. I ate it, and happily. Even so, there was a twinge in the back of my mind saying “Sarah this is garbage”. I scooped another spoonful while overlooking the river I had set up camp near. With a full belly I cleaned my dish thinking “god damn that needed some hot sauce”. The thing is, I ate the entire thing and I wasn’t mad about it.
    </p>

    <p>
      This is when I realized something that I have always known, backpacking food just simply cannot be held to the same standard as other food. There is some wilderness magic that will make it taste 1000 times better and truly, hunger is the best spice. That being said, not all backpacking food was created equally.
    </p>

    <p>
      From there, I was determined to try all varieties of dehydrated backpacking food and see how they measured up against one another. If it was salmon alfredo I would eat it, astronaut ice cream would be a fun treat, the huevos rancheros I had avoided would finally be sampled on one of my journeys.
    </p>

    <p>
      From there, I was determined to try all varieties of dehydrated backpacking food and see how they measured up against one another. If it was salmon alfredo I would eat it, astronaut ice cream would be a fun treat, the huevos rancheros I had avoided would finally be sampled on one of my journeys.
    </p>

    <p>
      I am excited to share my findings with you, and am curious to hear your thoughts. If you have recommendations on how I could improve this process, or if you have questions for me, please feel free to drop me a line in your avenue of preference.
    </p>

    <p>
      Happy Hiking!
    </p>

  </div>

{% endblock %}
