{% extends "base.html" %}


{% block content %}
<div class="about-content">
  <h1>Hello, and Welcome to Haute Hiker!</h1>
  <p>
    If you have found yourself here, chances are you have eaten your fair share of
    dehydrated camping food. Or perhaps you are new to backpacking and want to know
    the best brands, the best meals. Maybe you want to find the meal you will hate
    eating the least? Maybe you are of the opinion that things like, mouthfeel,
    honest branding, and spice variety extend beyond a restuarant setting. If any
    of these things apply to you, welcome, you have come to the right place. If not,
    I invite you to stick around.
  </p>

  <p>
    Okay, in all honesty you are probably a lot like me. You enjoy the outdoors.
    Nature is where you find yourself the most content. You love taking time
    away from the city to go camping or backpacking. You like to eat. You might even
    consider yourself a bit of a foodie. Chances are you have eaten some camping food
    when you thought "Good thing I am starving cause this has the texture of mush and
    less flavor than air."
  </p>

  <p>
    I made this blog, in part, for me. I am curious to see how much food I can try.
    Will paying the extra couple of bucks for a backpacking meal change my experience
    for the better? I want to see if the dehydrated salmon alfredo is delicious,
    or if I will be in waves of regret as I shovel one spoonful after another into
    my hungry mouth.
  </p>

  <p>
    I also made this blog for you. I know that there have to be more people out there
    who are curious about the austronaut ice-cream, or the packaged creme brulee dessert,
    but have never taken the plunge. You want to see what the texture of the huevos
    rancheros is like. You wonder what hacks can be made, if additions of hot sauce
    or a fried egg could maximize your outdoor culinary experience. I want to share
    my thoughts and experimentations with you. Together we can not only broaden our horizons
    exploring the natural world, together we can enjoy delicious food in those places.
    I hope that you find the reviews, funny, honest, and informative. But more than
    anything, happy hiking!
  </p>

  <p>
    -Your Friend at Haute Hiker
  </p>

{% endblock %}
