{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Haute Hiker</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <meta charset="utf-8">
  </head>
  <body>

    <div class="page-header">
        <h1><a href="/">Haute Hiker</a></h1>
    </div>

    {% if latest_review_list %}
    <ul>
      {% for review in latest_review_list %}
      <div class="review">
        <h2>{{ review.product_name }}</h2>
        <li>Impressions: {{ review.description }}</li>
        <li><a href="/reviews/{{ review.id }}/"> More about this product </a></li>
        <li>{{ review.image_url}}</li>
        <li>Brand: {{ review.brand}}</li>
        <li>Overall Rating: {{ review.overall_rating }}</li>
      </div>
      {% endfor %}
    </ul>
    {% else %}
    <p>No reviews are available.</p>
    {% endif %}

  </body>
</html>
