{% extends "base.html" %}

{% block content %}
    {% if latest_review_list %}
      <ul>
      <div class="article-content">
        {% for review in latest_review_list %}
        <div class="review">
          <h2>{{ review.product_name }}</h2>
          <li>Impressions: {{ review.description }}</li>
          <li><a href="/reviews/{{ review.id }}/"> More about this product </a></li>
          <li><img src={{ review.image_url }} /></li>
          <li>Brand: {{ review.brand}}</li>
          <li>Overall Rating: {{ review.overall_rating }}</li>
        </div>
        {% endfor %}
      </ul>
      {% else %}
      <p>No reviews are available.</p>
    </div>
    {% endif %}
{% endblock %}
