{% extends "base.html" %}

{% block content %}
    <div class="article-content">
      {% if latest_review_list %}
      <h1>Backpacking Food Reviews</h1>
      <div class="container">
        <div class="row">
        {% for review in latest_review_list %}
            <div class="col-4">
              <div class="view overlay zoom">
                <img src={{ review.image_url }} class="img-fluid ">
                <div class="mask flex-center">
                  <p class="white-text">{{ review.product_name }}</p>
                </div>
              </div>
            </div>
        {% endfor %}
        </div>
      </div>
      {% else %}
      <p>No reviews are available.</p>
    {% endif %}
  </div>
{% endblock %}
