{% extends "base.html" %}

{% block content %}
    <div class="article-content">
      {% if latest_review_list %}
      <h1>Food Reviews</h1>
      {% for review in latest_review_list %}
      <div class="container">
        <img src={{ review.image_url }} alt="Avatar" class="image">
        <div class="overlay">
          <div class="text">{{ review.product_name }}</div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>No reviews are available.</p>
    {% endif %}
  </div>
{% endblock %}
