{% extends "base.html" %}

{% block content %}
  <h2> {{ review.product_name }} </h2>

  <ul>
    <li> {{ review.image_url }}</li>
    <li> Brand: {{ review.brand }}</li>
    <li> Impressions: {{ review.description }}</li>
    <li> Resemblance to Package: {{ review.resemblance_to_package }}</li>
    <li> How Much Hot Sauce Needed to Make it Edible? {{ review.hot_sauce_needed }}</li>
    <li> Texture: {{ review.texture }}</li>
    <li> Overall Tastiness: {{ review.deliciousness_level }}</li>
    <li> {{ review.tags }}</li>
  </ul>
{% endblock %}
