{% extends "base.html" %}

{% block content %}
<div class="review article-content">
  <h2> {{ review.product_name }} </h2>
  <br>
  <img class="review-show-img" src={{ review.image_url }} />
  {% for image in review.images.all %}
      <img class="review-show-img" src={{ image.image_url }} />
  {% endfor%}
  <div class="review-specs">
    <ul>
      <p> Brand: {{ review.brand }}</p>
      <p> Impressions: {{ review.description }}</p>
      <p> Resemblance to Package: {{ review.resemblance_to_package }}</p>
      <p> How much hot sauce was required: {{ review.hot_sauce_needed }}</p>
      <p> Texture: {{ review.texture }}</p>
      <p> Overall Tastiness: {{ review.depciousness_level }}</p>
      <p>{{ review.created }}</p>
    </ul>
  </div>
</div>

{% endblock %}
