{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Haute Hiker</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
  <meta charset="utf-8">
</head>

<body>
  <div class="page-header">
      <h1><a href="/">Haute Hiker</a></h1>
  </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
