{% extends "base.html" %}

{% block content %}
  <div class="article-content">
    <h1> All Articles </h1>
    {% for article in articles %}
    <div class="article-teaser">
      <h2>{{ article.title }}</h2>
      <img src={{ article.image_url }} />
      <ul>
        <li>{{ article.hiking_trail }}</li>
        <li>{{ article.created }}</li>
      </ul>
      {% for tag in article.tags.all %}
        {{ tag.tag_name }}
      {% empty %}
        No tags!
      {% endfor %}
      <br>
      {{ article.content }}
    </div>
    {% endfor %}
  </div>
{% endblock %}
