h1, h2 {
    color: green;
    font-family: 'Raleway', sans-serif;
}

.review {
    font-family: 'Raleway', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
}

.article-content {
  padding-right: 100px;
  padding-left: 100px;
  padding-top: 35px;
  font-family: 'Raleway', sans-serif;
}

.navbar {
  font-family: 'Armino', sans-serif;
}

.article-teaser img {
  height: 200px;
  width: 25%;
}
